.field {
  position: relative;
  width: 100%;
  &__input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #E2E8FA;
    padding: 15px 20px;
    background: #E2E8FA;
    font-size: 14px;
    font-weight: 600;
    outline: none;
    &::placeholder {
      font-size: 16px;
      font-weight: 600;
    }
  }
}